---
layout: page
title: Episodes
permalink: /episodes
---

<h1>Episodes</h1>

{% for episode in paginator.posts %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ episode.url }}" target="_blank">#{{ episode.episode_number }} - {{ episode.title }}</a></h5>
        <p class="card-text">{{ episode.content | truncate: 300 }}</p>
        {% for link in episode.links %}
            <a href="{{ link.url }}" target="_blank" class="card-link">{{ link.title | truncate: 100 }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="row">
    {% if paginator.previous_page %}
    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="{{ paginator.previous_page_path | replace: '//', '/' }}">&larr; Newer Posts</a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="{{ paginator.next_page_path | replace: '//', '/' }}">Older Posts &rarr;</a>
    </div>
    {% endif %}
</div>
{% endif %}