---
layout: page
title: Episodes
permalink: /episodes
---

<h1>Episodes</h1>

{% for episode in paginator.posts %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ episode.url }}">#{{ episode.episode_number }} - {{ episode.title }}</a></h5>
        <p class="card-text">{{ episode.content | truncate: 300 }}</p>
        <a href="{{ episode.episode_url }}" target="_blank" class="card-link"><i class="fas fa-link"></i> .NET Rocks Episode</a>
        {% if episode.better_know_a_framework %}
            <a href="{{ episode.better_know_a_framework.url }}" target="_blank" class="card-link"><i class="fas fa-link"></i> BKF: {{ episode.better_know_a_framework.title | truncate: 100 }}</a>
        {% endif %}
        {% if episode.links | size %}
            <a href="{{ episode.url }}" class="card-link" style="white-space: nowrap;"><i class="fas fa-link"></i> Other links</a>
        {% endif %}
    </div>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="row">
    {% if paginator.previous_page %}
    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="{{ paginator.previous_page_path | replace: '//', '/' }}">&larr; Newer Posts</a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="col">
        <a class="btn btn-primary btn-lg btn-block" href="{{ paginator.next_page_path | replace: '//', '/' }}">Older Posts &rarr;</a>
    </div>
    {% endif %}
</div>
{% endif %}